<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="GA_TRACKING_ID" value="UA-24740834-2"/>
    <add key="OECD_PROXY"     value="wsg-proxy.oecd.org:80"/>
    <add key="GA_CATEGORIES"  value="PDF,ZIP,DOC,XLS,PPT,HTML"/>
    <add key="GA_PDF"         value=".pdf"/>
    <add key="GA_ZIP"         value=".zip"/>
    <add key="GA_DOC"         value=".doc,.docx"/>
    <add key="GA_XLS"         value=".xls,.xlsx"/>
    <add key="GA_PPT"         value=".ppt,.pptx"/>
    <add key="GA_HTML"        value=".htm,.html"/>
  </appSettings>
  <system.webServer>
    <modules>
      <add name="GAModule" type="GAModule"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>